* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}

.game-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    color: #F9F4DA;
    min-height: 60px;
    border-radius: 4px;
    margin-block: 30px;
}

.game-status.won {
  background-color: #10A95B;
}

.game-status.lost {
  background-color: #BA2A2A;
}

.game-status p {
    margin: 5px;
}

.game-status h2 {
    font-size: 1.25rem;
    margin: 5px
}

.lives {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catnmouse{
  border-radius: 10px;
  max-width: 350px;
  justify-content: center;
}

.word {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 20px;
}


.letter {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
} 

.keyboard {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 164px;
  width: 480px;
  gap: 6px;
  padding: 8px;
}

.keyboard button {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  font-size: 1.5rem;
  background-color: #FCBA29;
  cursor: pointer;
}

button.correct {
    background-color: #10A95B;
}

button.wrong {
    background-color: #EC5D49;
}

.game-button {
  height: 40px;
  width: 228px;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  background-color: #11B5E5;
  padding: 6px 12px;
  cursor: pointer;
}